/* --------------------------
General Styles 
----------------------------- */
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #333;
	padding-top: 100px;
}

/* ---------------------------------------
Navbar and Navigation Styles / Overrides 
------------------------------------------ */
.navbar-fixed-top {
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*.form-control-inline {
    min-width: 200;
    width: 800;
    display: inline;
}*/
/* ---------------------------------------
Row styles / Overrides 
------------------------------------------ */
.row {
	padding-left: 10px;
	padding-right: 10px;
}

.panel .panel-default {
	padding-left:100px;
	padding-right:10px;
}
/* ---------------------------------------
Node styles
------------------------------------------ */
.node { stroke: #222; stroke-width: 1.5px; }
/*    .node.Feature { fill: #5995ED; } */
.node.Species { fill: #C3C3C3; } 
.link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }

/* ---------------------------------------
Graph styles
------------------------------------------ */
#graph {
    position: absolute;
    top: -100;
    margin: auto;
    height: 100%;
    width: 100%;
}